*{
    margin: 0px;
    padding: 0px;
}
header{
background-color: rgb(49, 22, 68);
 min-height: 80px;
    text-align: center;
    padding-top: 40px;}
header>h1{
color: rgb(247, 172, 34);
text-align: center;
margin: auto;
max-width: 500px;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
   
}
nav{
    background-color:rgb(45, 40, 80);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.171);
}
nav>a{
    color: orange;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.1s;
}
nav> a:hover{
    background-color:rgb(86, 79, 131);
}

body{
    background-color: #7B71BC;
}
main{
    min-height: 700px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;

}
article>h2{
    text-align: center;
    padding: 10px;
}