body{
    background-color: rgb(45, 40, 80);
    font: normal 15pt Franklin Gothic Medium, Arial Narrow;
    display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100vh;
  margin: 0;
}
main{
 color: white;
    background-color: rgb(49, 22, 68);
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
   height: 300px;
   border: 1px solid black;
   padding-bottom: 50px;

  
   
}

#titulo{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(58, 31, 80) ;
    border-radius: 20px;
    padding: 10px;

}

.dados{
    background-color: rgb(58, 31, 80) ;
     border-radius: 20px;
    padding-left: 10px;
    padding-bottom: 8px;
}
#agradecimento{
    text-align: left;
    padding: 100px;
    color: black;
    background-color: white;
}
.menos{
    color: gray;
    font-size: 16px;
}
#botao{
    background-color:rgb(58, 31, 80) ;
   
    width: 90px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    outline: 0px;
   
}
#botao:hover{
    background-color:rgb(69, 42, 92) ;
}